.broad {
}
.main {
  display: flex;
  padding-top: 60px;
  justify-content: center;
}
.live {
  margin-right: 0px;
  display: flex;
  background-color: #1c1c1c;
  justify-content: center;
  width: 1200px;

  &-box {
    &-information {
      color: white;
      &-subscribers {
      }
    }

    &-video {
    }
  }
  &-chat {
  }
  &-admin {
  }
}
