.box {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_list {
  display: flex;
  width: 600px;
  height: 848px;
  border: 1px solid;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
}

.inputform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 50px;
  margin-block: 10px;
  border-radius: 15px;
  border: 1px solid;
  padding-inline: 20px;
  /* padding-block: 5px; */
  /* max-width: 360px; */
  /* margin-inline: auto; */
}

input:disabled {
  background: #c4c4c4;
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin-block: 10px;
  border-radius: 15px;
  border: 1px solid #FF7F22;
  padding-inline: 20px;
  padding-block: 5px;
  max-width: 280px;
  margin-inline: auto;
  background-color: #FF7F22;
  color: white;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.button_box {
  display: flex;
  justify-content: center;
}

.uni_button {
  width: 200px;
  min-height: 90px;
  margin-block: 10px;
  border-radius: 15px;
  border: 1px solid #5B89E6;
  padding-inline: 20px;
  padding-block: 5px;
  max-width: 280px;
  margin-inline: auto;
  background-color: #5B89E6;
  color: white;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  margin: 30px;
}

.logo {
  width: 215px;
  height: 185px;
}

.btn_upload {
  width: 280px;
  height: 50px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_upload :hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

#file {
  display: none;
}