#colorpicker {
  width: 250px;
  height: 320px;
  border-radius: 15px;
  background-color: white;
}
#colorpicker .container {
  position: relative;
  left: 12px;
  top: 10px;
}
#colorpicker .container .colorpicker {
  border-color: white;
}

#color {
  text-align: center;
  margin-bottom: 10px;
}