#leagues-ing {
  .leagues-ing {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      // display: flex;
      background-color: white;
      width: 700px;
      height: 300px;
      border-radius: 15px;
    }
  }
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  width: 700px;

  hr {
    height: 3px;
    background-color: #5c6bc0;
  }
}

.no-content-background {
  background-color: white;
  width: 700px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .no-content-text {
    font-weight: bold;
    text-align: center;
  }
}
