#leagues-ing {
  .leagues-ing {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      // display: flex;
      background-color: white;
      width: 700px;
      height: 300px;
      border-radius: 15px;
    }
  }
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  width: 700px;
}
