#uni-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white;
  .uni-list {
    padding: 50px;
    border-bottom: 4px solid #5c6bc0;
    border-top: 4px solid #5c6bc0;

    border-radius: 15px;
    margin-top: 60px;
    width: 800px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-weight: bold;
      font-size: large;
      margin-right: 680px;
    }

    &-background {
      width: 100%;
      height: 200px;
      background-color: #ffffff;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-my {
        width: 95%;
        height: 85%;
        background-color: #1c1c1c;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &-logo-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-logo {
            display: flex;
            width: 110px;
            height: 110px;
            border-radius: 15px;
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
          }
          &-text {
            margin-left: 15px;
            margin-block: 0;
            font-weight: bold;
          }
        }
      }
      .uni-list-my-text-box {
        font-weight: bold;
        margin-left: 20px;
        .uni-list-my-text {
          display: flex;
          width: 500px;
          justify-content: space-around;
          text-align: center;
          :nth-child(1) {
            width: 70px;
          }
          :nth-child(2) {
            width: 200px;
          }
          :nth-child(3) {
            width: 200px;
          }
          .uni-list-my-text-logo-box {
            position: relative;
            .rankLogo1 {
              position: absolute;
              top: 4px;
              left: 2px;
            }
            .rankLogo2 {
              position: absolute;
              top: 4px;
              left: 2px;
            }
            .rankLogo3 {
              position: absolute;
              top: 4px;
              left: 2px;
            }
            .rankLogo4 {
              position: absolute;
              width: 50px;
              height: 50px;
              top: 4px;
              left: 10px;
            }
            &-text {
              width: 45px;
              position: absolute;
              font-size: 18px;
              top: -3px;
              left: 13px;
              text-align: center;
            }
          }
        }
      }
    }
    .uni-list-total {
      margin-top: 30px;
      &-title {
        font-weight: bold;
        font-size: large;
        margin-right: 680px;
        margin-bottom: 18px;
      }

      &-background {
        background-color: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        .uni-card-background {
          background-color: #1c1c1c;
          width: 131px;
          height: 156px;
          border-radius: 15px;
          margin: 14px;
        }
        .uni-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
          .uni-card-back {
            background-color: #ffffff;
            width: 80px;
            height: 80px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            .uni-card-logo {
              width: 70px;
              height: 70px;
            }
          }
          .uni-card-text {
            width: 122px;
            text-align: center;
            font-size: 15px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
