#landing {
  display: flex;
  justify-content: center;
  width: 100%;
  .landing {
    width: 1200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-logo {
      margin-top: 60px;
    }
    &-title {
      margin-top: 30px;
      font-size: 40px;
      font-weight: bold;
      & > span {
        color: #5c6bc0;
      }
    }
    &-league {
      margin-top: 60px;
      width: 1000px;
      display: flex;
      justify-content: space-between;
      &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        #counter {
          color: #5c6bc0;
          font-size: 60px;
          font-weight: bold;
        }
      }
      &-label {
        margin: 0;
        font-weight: bold;
        font-size: 40px;
      }
    }
    &-amount {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-total {
        display: flex;
        > p {
          margin: 0;
          margin-left: 40px;
          font-size: 40px;
          font-weight: bold;
          line-height: 100px;
        }
      }
      #counter {
        color: #5c6bc0;
        font-size: 60px;
        font-weight: bold;
      }
    }
    &-button {
      margin-top: 60px;
      margin-bottom: 60px;
      color: white;
      width: 200px;
      height: 60px;
      font-size: 24px;
      font-weight: bold;
      border: none;
      border-radius: 15px;
      background-color: #5c6bc0;
      cursor: pointer;
    }
  }
}
