#commentitem .commentitem {
  padding: 10px;
  color: black;
  margin-top: 20px;
  width: 380px;
  border-radius: 15px;
  background-color: #fff;
}
#commentitem .commentitem-content {
  height: 80%;
}
#commentitem .commentitem-content > p {
  margin: 2;
  font-size: 14px;
  font-weight: bold;
}
#commentitem .commentitem-hr {
  margin-top: 6px;
  height: 2px;
}
#commentitem .commentitem-user {
  height: 20%;
  font-size: 12px;
}
#commentitem .commentitem-user > p {
  font-weight: bold;
  text-align: end;
  margin: 0;
  margin-top: 6px;
}