#leaguedetail {
  color: #fff;
  .active {
    background-color: #5c6bc0;
  }
  .white {
    background-color: #fff;
  }
  .leaguedetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    &-status {
      width: 300px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        .circle {
          border: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
        > p {
          font-size: 12px;
          font-weight: bold;
        }
      }
      &-bar {
        z-index: -1;
        position: absolute;
        top: 8px;
        left: 20px;
        width: 85%;
        height: 4px;
        background-color: #fff;
      }
    }
    &-title {
      margin-top: 30px;
      font-size: 40px;
      font-weight: bold;
    }
    &-info {
      margin-top: 20px;
      width: 1400px;
      display: flex;
      &-team {
        width: 500px;
        height: 300px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &-info {
          width: 220px;
          height: 240px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          > p {
            margin: 0;
            font-size: 60px;
          }
          > button {
            width: 100px;
            height: 40px;
            border-radius: 15px;
            border: none;
            color: white;
            background-color: #ff7f22;
            font-weight: bold;
            font-size: 16px;
            box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
          }
        }
        &-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 220px;
          height: 240px;
          > img {
            height: 160px;
            width: 160px;
          }
          > p {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
      &-desc {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        > p {
          font-size: 40px;
          font-weight: bold;
        }
        > button {
          width: 200px;
          height: 40px;
          border-radius: 15px;
          border: none;
          color: white;
          background-color: #ff7f22;
          font-weight: bold;
          font-size: 16px;
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }
        :nth-child(3) {
          width: 100px;
          background-color: red;
        }
      }
    }
  }
}
