.support-wrapper {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  #supportdetail {
    z-index: 4;
    border-radius: 15px;
    width: 500px;
    height: 800px;
    background-color: #1c1c1c;
    .supportdetail {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }
}
