#support-amount {
  width: 100%;
  margin-top: 10px;
  .support-amount {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
  }
}
