#carousel {
  width: 1000px;
  height: 1000px;
  margin-top: 20px;
  margin-bottom: 30px;
  .carousel {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // justify-items: center;
  }
}
