#carousel {
  // width: 1000px;
  // height: 1000px;
  margin-top: 20px;
  margin-bottom: 30px;
  .carousel {
    .slick-list {
      width: 300px;
      height: 500px;
      // margin: 0 auto;
    }
    .slick-slide {
      cursor: pointer;
    }
    .slick-track {
      overflow-x: hidden;
    }
  }
}
