#carousel {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  .carousel {
    &-comment {
      color: #5c6bc0;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
.slick-list {
  height: 550px;
}
.carousel {
  width: 88%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;

  // border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
  margin-top: 100px;
}
