#leagueopen {
  .leagueopen {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    &-empty {
      position: absolute;
      color: #5c6bc0;
      text-align: center;
      font-size: 20px;
      margin-top: 25px;
    }
  }
}
