#leagues {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  .leagues {
    display: flex;
    width: 1000px;
    border: 1px solid;
    border-radius: 20px;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    border-top: 4px solid #5c6bc0;
    border-bottom: 4px solid #5c6bc0;
    &-function {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      &-leaguelist {
        color: white;
        font-size: 30px;
        // font-weight: bold;
        margin-top: 60px;
        // margin-right: 700px;
        // flex-direction: row-reverse;
        // align-items: ;
      }
      &-search {
        &-bar {
          float: right;
          margin: 10px;
          width: 300px;
          height: 40px;
          border-radius: 12px;
          text-align: center;
          // background-color: #ececec;
        }

        &-icon {
          position: absolute;
          margin: 21px;
          display: flex;
          justify-content: center;
          width: 25px;
          height: 25px;
        }
      }
      &-createLeague {
        cursor: pointer;
        position: absolute;
        // float: right;
        margin-left: 360px;
        background-color: #ff7f22;
        border-radius: 10px;
        color: white;
        width: 130px;
        height: 45px;
        font-size: 15px;
        font-weight: bold;
        border: 0;
      }
    }
    &-buttonlist {
      display: flex;
      width: 940px;
      justify-content: center;
      button {
        width: 460px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        border: 0;
        border-radius: 10px;
        outline: 0;
        background-color: transparent;
      }
      &-active {
        cursor: pointer;
        color: #5c6bc0;
      }
      &-nonactive {
        cursor: pointer;
        color: #acacac;
      }
      &-bar-active {
        cursor: pointer;
        background-color: #5c6bc0;
        width: 480px;
        height: 4px;
        position: relative;
        margin-bottom: 30px;
        // left: 10%;
      }
      &-bar-nonactive {
        cursor: pointer;
        background-color: #acacac;
        width: 480px;
        height: 4px;
        position: relative;
        margin-bottom: 30px;
        // right: 20px;
      }
    }
  }
}
