#scroll {
  overflow-y: hidden;
  // overflow-y: hidden;
  // overflow-x: hidden;
  // .infinitescroll {
  // }
  .infinitescroll {
    overflow-y: hidden;
  }
  .scroll {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
.infinite-scroll-component {
  overflow-y: hidden;
}
