#rankings {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .background {
    display: flex;
    width: 800px;
    // height: 1000px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1c1c1c;
    border-top: 4px solid #5c6bc0;
    border-bottom: 4px solid #5c6bc0;

    .button-list {
      display: flex;
      margin-top: 20px;
      margin-left: 20px;

      .tab-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: white;
        margin-left: 40px;
        &-title {
          font-weight: bold;
          font-size: 20px;
        }
        &-title-active {
          font-weight: bold;
          font-size: 20px;
          color: #5c6bc0;
        }
      }
    }
    .bar {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #acacac;
      background-color: #acacac;
      width: 750px;
      height: 2px;
      position: relative;
      // margin-top: 1px;
      &-state-uni {
        border: 1px solid #5c6bc0;
        background-color: #5c6bc0;
        width: 70px;
        height: 2px;
        margin-left: 23px;
        margin-bottom: 1px;
        position: absolute;
        top: -1px;
        left: 2px;
      }
      &-state-spon {
        border: 1px solid #5c6bc0;
        background-color: #5c6bc0;
        width: 70px;
        height: 2px;
        margin-left: 110px;
        margin-bottom: 1px;
        position: absolute;
        top: -1px;
        left: 6px;
      }
    }
  }

  #rank-box {
    .line {
      width: 98%;
      margin-left: 20px;
      border: #5c6bc0;
      height: 3px;
      background-color: #5c6bc0;
    }
    .my-uni-title {
      margin-left: 25px;
      color: white;
      font-weight: bold;
      font-size: large;
    }
    .total-uni-title {
      margin-left: 20px;
      color: white;
      font-weight: bold;
      font-size: large;
    }
    .rank-menu {
      display: flex;
      color: white;
      font-weight: bold;
      font-size: large;
      // flex-direction: row;
      // justify-content: space-around;
      // width: 715px;

      &-rank {
        margin-left: 63px;
        top: 1px;
        bottom: 1px;
      }

      &-name {
        margin-left: 175px;
      }

      &-price {
        margin-left: 272px;
      }
    }
    .rank-main {
      display: flex;
      margin-left: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 750px;
      height: 100px;
      border: 1px solid;
      border-radius: 15px;
      background-color: #ffffff;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .logo-box {
        position: relative;
        .rankLogo1 {
          position: absolute;
          left: -35px;
          bottom: -33px;
        }
        .rankLogo2 {
          position: absolute;
          left: -36px;
          bottom: -33px;
        }
        .rankLogo3 {
          position: absolute;
          left: -36px;
          bottom: -33px;
        }
        .rankLogo4 {
          position: absolute;
          left: -26px;
          bottom: -33px;
        }
        .rank-main-rank {
          position: absolute;
          bottom: -29px;
          left: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          width: 50px;
        }
      }

      &-name {
        // margin-left: 142px;
        width: 200px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }

      &-price {
        // margin-left: 240px;
        width: 200px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
