#create {
  .create {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

    &-option {
      display: flex;
      width: 800px;
      height: 620px;
      border: 1px solid;
      border-radius: 20px;
      flex-direction: column;
      align-items: center;
      background-color: #1c1c1c;
      border-top: 4px solid #5c6bc0;
      border-bottom: 4px solid #5c6bc0;
      small {
        color: rgb(202, 0, 0);
      }
      &-text {
        margin: 10px;
        font-weight: bold;
        color: #5c6bc0;
        margin-bottom: -1px;
      }
      &-input {
        width: 200px;
        height: 35px;
        margin: 8px;
        border-radius: 12px;
        text-align: center;
      }
      &-comment {
        font-size: 14px;
        margin-top: 4px;
        color: #ff7f22;
      }
      input[type="file"] {
        color: red;
        display: none;
        // margin: 10px;
      }
      &-poster {
        cursor: pointer;
        margin-top: 10px;
        font-size: 14px;
        width: 120px;
        height: 38px;
        border-radius: 12px;
        margin: 5px;
        background-color: #ff7f22;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-poster:hover {
        background-color: #007350;
      }

      &-broadcast {
        margin-top: 10px;
        button {
          width: 120px;
          height: 38px;
          border-radius: 12px;
          margin: 5px;
          border: 0px;
        }
        :hover {
          background-color: #007350;
        }
        &-on {
          cursor: pointer;
          background-color: #aa0e03;
          color: white;
        }

        &-off {
          cursor: pointer;
          background-color: #555555;
          color: white;
          :hover {
            background-color: #007350;
          }
        }
      }
    }
    &-container {
      &-teamoption1 {
        h2 {
          color: #5c6bc0;
        }
        h4 {
          color: #5c6bc0;
        }
        input {
          width: 200px;
          height: 35px;
          margin: 8px;
          float: left;
          border-radius: 12px;
          text-align: center;
        }
        float: left;
        margin-top: 30px;
        // margin-right: 40px;
        display: flex;
        width: 380px;
        height: 750px;
        border: 1px solid;
        border-radius: 20px;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        border-top: 4px solid #5c6bc0;
        border-bottom: 4px solid #5c6bc0;
        &-text {
          font-size: 12px;
          margin-bottom: 10px;
          color: #ff7f22;
        }
      }
      &-teamoption2 {
        h2 {
          color: #007350;
        }
        h4 {
          color: #007350;
        }
        input {
          width: 200px;
          height: 35px;
          margin: 8px;
          float: left;
          border-radius: 12px;
          text-align: center;
        }
        float: right;
        margin-top: 30px;
        display: flex;
        width: 380px;
        height: 750px;
        border: 1px solid;
        border-radius: 20px;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        border-top: 4px solid #5c6bc0;
        border-bottom: 4px solid #5c6bc0;
        &-text {
          font-size: 12px;
          margin-bottom: 10px;
          color: #ff7f22;
        }
      }
    }
    &-buttoncontainer {
      &-cancel {
        cursor: pointer;
        margin-left: 275px;
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 50px;
        background-color: #5c6bc0;
        border-radius: 10px;
        color: white;
        width: 120px;
        height: 40px;
        font-weight: bold;
      }
      &-approve {
        cursor: pointer;
        background-color: #ff7f22;
        border-radius: 10px;
        color: white;
        width: 120px;
        height: 40px;
        font-weight: bold;
      }
      &-cancel:hover {
        background-color: #007350;
      }
      &-approve:hover {
        background-color: #007350;
      }
    }
  }
}
